.container {
    width: calc(100% - 26rem);
    height: 80vh;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    overflow-y: scroll;

    position: absolute;
    bottom: 0;
    background: rgba(239,240,232);
    

    .user {
        display: flex;
        align-items: center;
        position: relative;
        width: 90%;
        margin: 1rem auto 0;
        background: #fcfcfd;
        

        border-radius: 1rem;

        img{
            width: 100px;
            height: 100px;

            border: 1px solid gray;
            border-radius: 50%;

            margin-left: 2rem;
        }

        .info-user {
            margin-left: 2rem;
        }

        button {
            position: absolute;
            right: 10px;

            width: 180px;
            height: 50px;

            background: rgb(17, 199, 111);
            color: #fff;

            border: none;
            border-radius: 1rem;

            font-size: 1.2rem;
            font-family: 'Roboto';
            font-weight: 700;

            cursor: pointer;

            transition: filter 0.2s;

            &:hover {
                filter: brightness(0.8);
            }
        }
    }
}


