<div class="users">
    <div class="user" *ngFor="let user of users">
        <img [src]="user.img" />
        <div class="info-wrapper">
            <div class="user-name">
                <strong>Nome do Usuário: {{user.name}}</strong>
            </div>

            <div class="user-id-username">
                ID: {{user.id}} - Username: {{user.username}}
            </div>
        </div>

        <button type="button" class="pay-button" (click)="insertPaymentInfo($event,user.id)">
    Pagar
  </button>
    </div>
</div>